/* Map */
.ttmapcontainer {
    height: 500px !important;
    padding-bottom: 35px;
}

.ttmap {
    height: 500px !important;
    z-index: 0;
}

.ttmap a {
    padding: 0;
    border: 0;
}

.ttgender-icon {
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.ttgender-icon.one {
    width: 15px !important;
    height: 15px !important;
    padding: px;
}

.ttgender-icon.some {
    width: 24px !important;
    height: 21px !important;
    padding-top: 3px;
}

.ttgender-icon.many {
    width: 30px !important;
    height: 22px !important;
    padding-top: 7px;
}

/* Time slider */
.ui-editRangeSlider-inputValue {
    width: 3em;
}

.ttslider {
    top: -40px;
}

.tthasgeo {
    color: #25f;
    text-decoration: underline;
    cursor: pointer;
}

.ttslider {
    margin-left: 30px;
    margin-right: 28px;
}

.ui-editRangeSlider-inputValue {
    width: 3.5em;
}
