
html,body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

#tt-content {
    padding: 0;
    height: 100%;
}

.tt-content {
    position:absolute;
    top:40px;
    right:0;
    bottom:0;
    left:0;
    max-height: 100%;
    height: 100%;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    border: 0;
    background-color: white;
}

#tt-header {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    height: 40px;
    background-color: #668866;
}

.tt-content-block {
    max-height: 100%;
    height: 100%;
}
