/*
 * Table specific CSS goes here
 */

#tt-table {
    clear:both;
}

.tttablecontainer {
    max-width: 100% !important;
    clear: both;
}

.tttablectrl {
    font-weight: bold;
    padding: 10px 0;
}

.tttablectrl .ttclose {
    cursor: pointer;
    text-decoration: underline;
}

.tttable {
    max-width: 100% !important;;
}

table, td,th,tr {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.clear {
    clear:both;
}
