#multimedia li {
    list-style-type: none;
    padding-left: 0;
}

#multimedia ul {
    padding: 0;
}

#multimedia li a {
    clear: both;
    padding-bottom: 6px;
    display: block;
}


.block > dl > dt {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
}
