/*
 * Common CSS for all tt pages 
 */

/* Page Layout */
#tt-content {
    margin: auto;
    min-height: 525px;
    padding: 20px;
}

/* Top menu */
header menu {
    padding: 0;
    margin: 0;
    background-color: #668866;
}

#tt-header ul {
    padding: 0;
    margin: 0;
}

#tt-header li {
    display:inline-block;
}

#tt-header li:hover {
    background-color: #aaeeaa;
}

#tt-header li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #33aa33;
    margin: 1px 0;
}

.current_page {
    background-color: #229922;
}

/* Body content */

.tt-content {
    border: 1px solid black;
    max-height: 525px;
    overflow: auto;
}

.tt-content-block {
    text-align: left;
    height: 525px;
    width: 48%;
    min-width: 200px;
    max-height: 525px;
    vertical-align: top;
    overflow: auto;
    float: left;
}

/* Site-wide colors */
.ttgender-male {
    border-color: #171980;
    background-color: #b7daff;
}

.ttgender-female {
    border-color: #80177e;
    background-color: #e985e7;
}

.ttgender-mixed {
    border-color: #df4ddc;
    background-color: #b7daff;
}

.ttgender-unknown {
    border-color: #ffdd3c;
    background-color: #e6ff41;
}

.ttfakelink {
    text-decoration: underline;
}
