/*
 * Common CSS for all tt pages 
 */

/* Page Layout */
#tt-content {
    margin: auto;
    padding: 20px;
}

/* Top menu */
header menu {
    padding: 0;
    margin: 0;
    background-color: #668866;
}

#tt-header ul {
    padding: 0;
    margin: 0;
}

#tt-header li {
    display:inline-block;
}

#tt-header li:hover {
    background-color: #aaeeaa;
}

#tt-header li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #33aa33;
    margin: 1px 0;
}

.current_page {
    background-color: #229922;
}

/* Body content */

.tt-content {
    border: 1px solid black;
    height: 500px;
    overflow: auto;
}

.tt-content-block {
    text-align: left;
    height: 500px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
