/*
 * Common CSS for all tt pages 
 */

/* Page Layout */
#tt-content {
    margin: auto;
    padding: 20px;
}

/* Top menu */
header menu {
    padding: 0;
    margin: 0;
    background-color: #668866;
}

#tt-header {
    text-align: right;
}


#tt-header ul {
    float: left;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.socialButtons {
    display:inline-block;
    height: 32px;
    padding: 6px 6px 0 0;
}


#tt-header li {
    display:inline-block;
    background-image: url('../img/menu_neutral.png');
}

#tt-header li:hover {
    background-image: url('../img/menu_hover.png');
}

#tt-header li a {
    display: block;
    text-decoration: none;
    padding: 8px 12px;
    margin: 1px 0;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}

#tt-header li.current_page {
    background-image: url('../img/menu_active.png');
}

/* Body content */

.tt-content {
    border: 1px solid black;
    height: 525px;
    overflow: auto;
}

.tt-content-block {
    text-align: left;
    height: 525px;
    width: 48%;
    min-width: 200px;
    max-height: 525px;
    vertical-align: top;
    overflow: auto;
    float: left;
}

/* Site-wide colors */
.ttgender-male {
    border-color: #171980;
    background-color: #b7daff;
}

.ttgender-female {
    border-color: #80177e;
    background-color: #e985e7;
}

.ttgender-mixed {
    border-color: #df4ddc;
    background-color: #b7daff;
}

.ttgender-unknown {
    border-color: #ffdd3c;
    background-color: #e6ff41;
}

.ttfakelink {
    text-decoration: underline;
}

.ttthumbnail {
    height: 250px;
    width: 250px;
}
