/*
 * Common CSS for all tt pages 
 */

#tt-content {
    margin: auto;
    padding: 20px;
}

/* Top menu */
menu {
    padding: 0;
    margin: 0;
    background-color: #668866;
}

#tt-header ul {
    padding: 0;
    margin: 0;
}

#tt-header li {
    display:inline-block;
}

#tt-header li:hover {
    background-color: #aaeeaa;
}

#tt-header li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #33aa33;
    margin: 1px 0;
}

.tt-content {
    border: 1px solid black;
    max-height: 500px;
    overflow: auto;
}

.tt-content-left {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}

.tt-content-right {
    padding-left: 10px;
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
