[submodule "src/js/Leaflet.markercluster"]
	path = src/js/Leaflet.markercluster
	url = http://github.com/Leaflet/Leaflet.markercluster.git
[submodule "src/js/jQRangeSlider"]
	path = src/js/jQRangeSlider
	url = http://github.com/ghusse/jQRangeSlider.git
[submodule "src/lib/ged2json"]
	path = src/lib/ged2json
	url = https://github.com/stuporglue/ged2json.git
[submodule "src/js/Pedigree-Viewer"]
	path = src/js/Pedigree-Viewer
	url = https://github.com/dovy/Pedigree-Viewer.git
[submodule "src/lib/phpmailer"]
	path = src/lib/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "src/lib/php-gedcom-sqlite"]
	path = src/lib/php-gedcom-sqlite
	url = https://github.com/stuporglue/php-gedcom-sqlite.git
