;;<?php exit(); // Leave this line here to protect against people trying to read your config file!
;;
;; This is a simple config file for TreeTrumpet
;; Uncomment a configuration option by removing the semicolons from the start of the line
;; The values listed are the default values
;;
;; TreeTrumpet should be usable with the default settings, 
;; but you can change things here without breaking anything

;; Change the focus person
;focus_person_id=0


;; This is a list of modules/pages, you can disable certain pages
;; if you don't want them to be displayed on your site
;;
;; 1 means enabled, 0 (or anything else) means disabled

[modules]
;tree=1
;map=1
;people=1
;contact=1
;gedcom=1


; By default only the contact information in your GEDCOM file is
; displayed on the contact page. You can allow people to see your
; email address by enabling it here. 
; 
; If your server supports it you can enable an email form, which
; will allow people to email you without revealing your email 
; address to them.

[contact]
;show_email_address=1
;show_email_form=0

;email_address=example@example.com


[mail_form_settings]
;; If your server is set up to send email, you don't need to configure these at all.

;; These values are fo use with Email
;smtp_server=smtp.gmail.com
;smtp_port=465
;smtp_security=tls
;
;; Your gmail username
;smtp_username=example@gmail.com
;; Your gmail password
;smtp_password=password

